/* src/pages/LoginPage.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.form-container {
    padding: 50px;
    background: linear-gradient(145deg, #1e1e1e, #232323);
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.form-container:hover {
    transform: scale(1.05);
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h2 {
    color: #fff;
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #ff79c6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff56a1;
}

.toggle-form {
    background-color: transparent;
    margin-top: 10px;
}